.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  margin: 20px auto;
  padding: 15px 10px;
  background-color: @bg-blue;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight :bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

@media @tablet-widths {
  .button {
    width: 324px;
  }
}

@media @desktop-widths {
  .button {
  width: 480px;
  }
}
