.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  margin: 40px auto;
  padding: 15px 10px;
  background-color: @bg-blue;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:bold;
  font-size: 21px;
  line-height: 26px;
}

@media @tablet-widths {
  .button{
    width: 324px;
  }
}

@media @desktop-widths {
  .button {
  width: 480px;
  }
}
