.form {
  padding: 0 0;
}

.form-field {
  border: none;
  display: block;
  margin:0;
  margin-bottom: 25px;
  padding: 0;
}
.form-field__name-wrap {
  padding:0 20px;
}

.form-field legend {
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width:100%;
  line-height: 26px;
  /*margin-left: -20px;
  width: 115%;*/
}

.form-field input {
  background-color: @bg-grey;
  border: none;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 18px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form-field__name-wrap {
  display: flex;
}

.form-field__name-wrap label {
  flex-grow: 0;
  margin-right: 10px;
  align-self: center;
}

.form-field__name-wrap input {
 flex-grow: 1;
  width: 20px;
}

.form-field__name-wrap:nth-child(n+3) label{
  flex-basis: 70px;
}


/*контактная информация*/
.form-field__contact-wrap {
  padding: 0 20px;
}

.form-field__contact-wrap input{
  width: 100%;
  padding-right: 58px;
}

.form-field__contact-wrap label {
  position: relative;
  display: block;
  padding-left: 20px;
}

.form-field__contact-wrap label::before {
  content:"";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 28px;
  right: 0;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}

.form-field__contact-wrap label[for="email"]::before {
  background-image: url('../../img/icon-mail.svg');
}

.form-field__contact-wrap label[for="telephone"]::before {
  background-image: url('../../img/icon-phone.svg');
}

.form__explic {
  display: none;
}

 .form .button {
   border: none;
  }

/*стилизация раздела отзывов*/
.form-field__feedback-wrap {
 padding:0 20px;
}

.form-field__feedback-wrap label {
  padding-left: 60px;
  display: block;
  margin-bottom: 25px;
  text-transform: none;
  position: relative;
}

.form-field__feedback-wrap input {
  display: none;
}

.form-field__feedback-wrap label {
  padding-left: 70px;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: none;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.form-field__feedback-wrap label::before {
  content:"";
  position: absolute;
  left: 0;
  top: -15px;;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form-field__feedback-wrap input:checked~label::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 3px;;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}

/*стилизация раздела посещенных достопримечательностей*/
.form-field__sights-wrap {
  padding: 0 20px;
}

.form-field__sights-wrap input {
  display: none;
}

.form-field__sights-wrap label {
  position: relative;
  display: block;
  padding-left: 70px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 55px;
}

.form-field__sights-wrap label:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  left: 0;
  top: -15px;;
  background-color: #f2f2f2;
}

.form-field__sights-wrap input:checked~label::after {
  content: "";
  position: absolute;
  width: 24px;
  top: 5px;
  left: 15px;
  height: 17px;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.comment__inner {
  padding: 0 20px;
}

.form-field__comment {
  box-sizing: border-box;
  width: 100%;
  background-color: @bg-grey;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}


@media @tablet-widths {

  .form {
    padding:0 60px;
    position: relative;
    .clearfix;
  }

  .form-field__sights-wrap {
    float: left;
    width: 50%;
  }

  .form-field:first-child {
   padding-left: 50%;
  }

  .form-field:nth-child(3) {
    position: absolute;
    top:0;
    left:60px;
  }

  .form-field__name-wrap input {
  width: 70%;
  }
.form-field__name-wrap:nth-child(2) input{
  width: 80%;
  }

  .form .button {
    float:left;
    width: 50%;
  }

  .form__explic {
    display: block;
    margin:40px 0;
    float: right;
  }

}


@media @desktop-widths {

  .form {
  padding: 0 120px;
  }

  .form-field__sights-wrap {
    float: left;
    width: 25%;
  }

  .form-field__contact-wrap {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
  }

    .form-field:nth-child(3) {
       left:120px;
    }

    .form-field__name-wrap input {
      width: 80%;
    }

    .form-field__name-wrap:nth-child(2) input{
      width: 90%;
      }

}
