.form {
  padding: 0 20px;
  margin-bottom: 40px;
}

.form-field {
  border: none;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-field__title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width:100%;
  line-height: 26px;
  position: relative;
}

.form-field input {
  background-color: @bg-grey;
  border: 4px solid transparent;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

/*ФИО*/

.form-field__name-wrap {
  display: flex;
}

.form-field__name-wrap label {
  flex-grow: 0;
  margin-right: 10px;
  align-self: center;
}

.form-field__name-wrap input {
 flex-grow: 1;
  width: 20px;

}

.form-field__name-wrap:nth-child(n+3) label{
  flex-basis: 70px;
}


/*контактная информация*/
.form-field__contact-wrap {
   position: relative;
}

.form-field__contact-wrap input{
  width: 100%;
  padding-right: 58px;
}

.form-field__contact-wrap label {
  display: block;
  padding-left: 20px;
  margin-top:10px;
}

.error {
  padding-left:20px;
  text-transform: none;
  color: #ff5c5c;
  margin-bottom: 20px;
}

.form-field__contact-wrap::before {
  content:"";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 31px;
  right: 0;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}

.form-field__contact-wrap:nth-child(2)::before {
  background-image: url('../../img/icon-phone.svg');
}

.form-field__contact-wrap:nth-child(3)::before {
  background-image: url('../../img/icon-mail.svg');
}

.form__explic {
  display: none;
}

/*раздел отзывов*/

.form-field__feedback-wrap label {
  padding-left: 60px;
  display: block;
  margin-bottom: 25px;
  text-transform: none;
  position: relative;
}

.form-field__feedback-wrap input {
  display: none;
}

.form-field__feedback-wrap label {
  padding-left: 70px;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: none;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.form-field__feedback-wrap:last-child label{
  margin-bottom: 30px;
}

.form-field__feedback-wrap label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form-field__feedback-wrap input:checked~label::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 3px;;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}

.form-field__feedback-wrap:hover label::before {
  background-color: #e5e5e5;
}

.form-field__feedback-wrap:active label::before {
  background-color: #d5d5d5;
}

.form-field__feedback-wrap:active input:checked~label::after {
  background-color: #a4a4a4;
}

/*посещенные достопримечательности*/

.form-field__sights-wrap input {
  display: none;
}

.form-field__sights-wrap label {
  position: relative;
  display: block;
  padding-left: 70px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 55px;
}

.form-field__sights-wrap:last-child label {
  margin-bottom: 27px;
}

.form-field__sights-wrap label:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  left: 0;
  top: -15px;;
  background-color: #f2f2f2;
}

.form-field__sights-wrap input:checked~label::after {
  content: "";
  position: absolute;
  width: 24px;
  top: 5px;
  left: 15px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-field__sights-wrap:hover label::before {
  background-color: #e5e5e5;
}

.form-field__sights-wrap:active label::before {
  background-color: #d5d5d5;
}

.form-field__sights-wrap:active input:checked~label::after {
  filter: opacity(0.3);
}

/*комментарии*/
.form-field__comment {
  box-sizing: border-box;
  border: 4px solid transparent;
  width: 100%;
  background-color: @bg-grey;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}


@media @mobile-widths {

.form-field__title::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  left: -20px;
  top: -7px;
}
}

@media @tablet-widths {

  .form {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 35px;
  }

  .form-field--feedback {
    order: -1;
    box-sizing: border-box;
    width: 57%;
  }

  .form-field--name {
    width: 43%;
    box-sizing: border-box;
    position: relative;
  }

  .form-field__title {
    border: none;
    display: inline-block;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: 30px;
  }

  .form-field--name::before {
    content: '';
    position: absolute;
    height: 125%;
    top: -65px;
    width: 1px;
    background-color: #e5e5e5;
    left: -50px;
  }

  .form-field--name .form-field__title,
  .form-field--feedback .form-field__title {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  .form-field--contact,
  .form-field--sights,
  .form-field--comment {
    width: 100%;
  }

  .form-field--contact .form-field__title,
  .form-field--sights .form-field__title,
  .form-field--comment .form-field__title {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 125px;
      background-color: #e5e5e5;
      top: 30px;
      z-index: 5;
      }

    &::before{
      left:0;
      }

    &::after {
      right: 0;
    }
  }

  .form-field--contact .form-field__title {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .form-field__feedback-wrap label {
    margin-bottom: 55px;
  }

  .error {
    position: absolute;
    right: 0;
    top: 0;
  }

  .name-hide {
    display: none;
  }

  .form-field__comment {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .sights__container {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right:20px;
    flex-wrap: wrap;
  }

  .form-field__sights-wrap{
    flex-basis: 210px;
  }

  .form-field__sights-wrap:nth-child(2) {
    order:1;
  }

   .form-field__sights-wrap:nth-child(3) {
     order:0;
   }

    .form-field__sights-wrap:nth-child(4) {
     order:2;
   }

  .form__explic {
    display: inline-block;
    margin-left: auto;
    line-height: 55px;
  }

}


@media @desktop-widths {

  .form {
    padding: 0 120px;
    margin-bottom: 65px;
  }

  .form-field__title {
    padding-right: 35%;
    padding-left: 35%;
  }

  .sights__container {
    justify-content: space-between;
    padding: 0;
  }

  .form-field--contact .form-field__title,
  .form-field--sights .form-field__title,
  .form-field--comment .form-field__title {
    &::before,
    &::after {
      width: 280px;
    }
  }

  .form-field--name::before {
    height: 125%;
    top: -65px;
    left: -70px;
  }

  .contact-hide {
    display: none;
  }

  .error {
    left: 85px;
    top: -15px;
  }

  .form-field--feedback .form-field__title{
    padding-left: 90px;
  }

  .form-field--contact .form-field__title {
    margin-bottom: 40px;
}

   .form-field__contact-wrap {
     display: flex;
     align-items: center;
     padding-left:0;
     box-sizing: border-box;
    width: 50%;
    padding: 10px 0;
     float: left;
   }

  .form-field__contact-wrap input {
    box-sizing: border-box;
    margin: 0;
    width: 20px;
    flex-grow: 2;
  }

  .form-field__contact-wrap label {
    flex-grow: 0;
    margin-right: 20px;
    padding: 0;
  }

  .form-field__contact-wrap::before {
    top: 10px;
  }

  .form-field__contact-wrap:nth-child(2) {
    width: 42%;
    margin-right: 72px;
   }
}
