.intro {
  padding-top: 89px;
  padding-bottom: 75px;
  background: url("../../img/bg-back-mobile.jpg") center 0 no-repeat;
}

.intro__welcome {
  display: block;
  margin: 0 auto;
}

.intro__sedona {
  display: block;
  margin: 0 auto;
}
