.intro {
  padding-top: 90px;
  padding-bottom: 75px;
  background: url("../../img/bg-back-mobile.jpg") center 0 no-repeat;
}

.intro__welcome {
  display: block;
  margin: 0 auto;
}

.intro__sedona {
  display: block;
  margin: 0 auto;
}

.intro--index {
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile.jpg");
  background-position: bottom, center 0;
  background-size: auto;
}
