.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  .clearfix;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  display: block;
  background-color: @bg-blue;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.page-header__logo {
  position: absolute;
  bottom: -36px;
  left: 50%;
  margin-left: -54px;
}

.main-nav__item a:hover {
  background-color: #669ec0;
}

.main-nav__item a:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.main-nav__toogle {
  float: right;
  border: none;
  background-color: #ffffff;
  margin: 15px 20px;
  width: 23px;
  height: 22px;
  background-image: url("../img/icons/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__toogle:focus{
  outline: none;
}

@media @mobile-widths {

  .main-nav__wrapper--closed {
    display: none;
  }

  .main-nav__close {
    content: "";
    position: absolute;
    display: block;
    top: 16px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icons/icon-cross.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media @tablet-widths {

  .main-nav {
    width: auto;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-nav__item {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    width: 20%;
  }

  .main-nav__item:nth-child(2) {
    padding-right: 55px;
  }

  .main-nav__item:nth-child(3) {
    margin-left: 85px;
  }

  .main-nav__item a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
  }

  .main-nav__item a:hover {
    background-color: #ffffff;
    color: @bg-blue;
  }

  .main-nav__item a:active {
    color: rgba(0,0,0,0.3);
  }

  .main-nav__item--active a {
    color: #766357;
  }

  .main-nav__item--active a:hover {
    color: #604e43;
  }

  .main-nav__item--active a:active {
    color: rgba(96,78,67,0.3);
  }

  .page-header__logo {
    top: 0;
  }

  .main-nav__toogle {
    display: none;
  }
}

@media @desktop-widths {
  .page-header__logo {
    margin-left: -93.5px;
  }
  
   .page-header__logo .logo {
     width: 187px;
     height: 97px;
   }

  .main-nav__item:nth-child(2) {
    padding-right:97px;
  }

  .main-nav__item:nth-child(3) {
    margin-left: 127px;
  }

}
