.page-footer {
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-footer__tag {
  font-size: 21px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-link {
  margin: 0 2.5px;
  display: block;
  width: 46px;
  height: 48px;
  background-color: @bg-blue;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #ffffff;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active svg {
    fill: #88b6d1;
  }
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__copyright span {
  display: inline-block;
  vertical-align: middle;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;

  &:hover svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: #b2b2b2;
  }
}


@media @tablet-widths {

  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
  }

  .page-footer__tag {
    box-sizing: border-box;
    text-align: left;
    flex-basis: 192px;
  }

  .page-footer__social {
    box-sizing: border-box;
  }

  .page-footer__copyright {
    box-sizing: border-box;
    text-align: right;
     flex-basis: 192px;
  }
}


@media @desktop-widths {

  .page-footer {
    padding: 20px 0;
  }

  .page-footer__tag  {
    flex-basis: 398px;
    text-align: center;
    box-sizing: border-box;
  }

  .page-footer__social {
    box-sizing: border-box;
  }

  .page-footer__copyright {
    flex-basis: 398px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}





