.reason__item {
  text-align: center;
  box-sizing: border-box;
}

.reason__text {
  background-color: @bg-blue;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding: 27px 12px;
  color: #ffffff;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reason__number {
  font-size: 14px;
  line-height: 21px;
}



.reason__item--short {
  background-color: @bg-grey;
  padding: 25px 30px;
  color: #000000;
}

@media @tablet-widths {
  .reason__item,
  .reasons__items {
    .clearfix;
  }

  .reason__text {
    box-sizing: border-box;
    width: 33.3333%;
    min-height: 260px;
  }

  .reason__img {
    box-sizing: border-box;
    width: 66.6667%;
  }

    .reason__item:nth-child(2n+1) {
      .reason__text {
         float:left;
      }
      .reason__img {
        float:right;
      }
    }

  .reason__item:nth-child(2n) {
     .reason__text {
         float:right;
      }
      .reason__img {
        float:left;
      }
  }

  .reason__item--short {
    float:left;
    width:33.3333%;
  }

  .reason__item--short .reason__title {
    padding-left:30px;
    padding-right:30px;
  }

  }
