.review {
  .border;
  border-color: spin(@base-color, 135);
}

.review {
  text-align: center;
  padding: 0 30px;
  margin: 0 auto;
}

.review__title {
  font-size: 21px;
}

@media @tablet-widths {

  .review {
    width: 500px;
  }

}

