.review {
  text-align: center;
  padding: 15px 20px;
  margin: 0 auto;
}

.review__explic {
  font-size: 14px;
  line-height: 24px;
}

.review--index {
  background-image: url("../img/bg-intro-triangle-mobile_blue.svg");
  background-position: center bottom;
  background-size: 322px;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

.review__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.review__title--small {
  font-size: 18px;
  margin-bottom: 30px;
}

.review--short-padding {
  padding-bottom: 6px;
  padding-top: 15px;
}

.review--short-padding .review__title {
  margin-bottom: 15px;
}


@media @tablet-widths {

  .review {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 490px;
  }

  .review--index {
    background: none;
  }

   .review__title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
  }

  .review__title--small {
    font-size: 30px;
    line-height: 36px;
  }

   .review--index .review__title {
    font-size: 21px;
     line-height: 26px;
     margin-bottom: 32px;
  }

  .review--short-padding {
    padding-bottom:10px;
  }

  .review--short-padding .review__title {
  margin-bottom: 25px;
  }

}


